<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Assessments Creator</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
      <a routerLink="univs" routerLinkActive="active" mat-list-item
        >Universities</a
      >
      <a routerLink="exams" routerLinkActive="active" mat-list-item
        >Examinations</a
      >
      <a routerLink="subjects" routerLinkActive="active" mat-list-item
        >Subjects</a
      >
      <a routerLink="topics" routerLinkActive="active" mat-list-item>Topics</a>
      <a mat-list-item>Assessments</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
