h2 {
  margin-top: 2em;
  text-align: center;
}

.loginform {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.logbut {
  margin-top: 2em;
}

.logfail {
  margin-top: 2em;
  color: red;
  text-align: center;
}
